*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height:100;
	padding: 0 2vw;
	overflow-x: hidden;
	overflow-y: auto;
	font: 2.4vh/3.6vh serif;}

html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: lightgreen;
}

div{
	font-size: 2.4vh;
	padding: 1vh 2vw;
	height: 100px;
}

h1{
	font-size: 4.8vh;
	line-height: 7.2vh;
	font-weight: bold;
}

h2{
	font-size: 3.6vh;
	line-height: 5.4vh;
	font-style: italic;
}
section{
	margin: 1vh 0;
}
p{
	margin: 0.5vh 0;
}